.photo-gallery {
   text-align: center;
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   padding: 20px;
 }
 
 h2 {
   font-size: 2rem;
   color: #e50914;
   margin: 20px 0;
   font-weight: bold;
   display: inline-flex;
   align-items: center;
 }
 
 .photo-gallery-container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 30px; 
   margin-top: 30px;
 }
 
 .photo-card img {
   width: 100%; 
   max-width: 1000px; 
   height: auto;
   border-radius: 8px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
 }
 
 .loading-text {
   color: #fff;
   font-size: 1.5rem;
   margin-top: 30px;
 }

 .back-arrow {
  cursor: pointer;
  color: #e11d48;
  margin-right: 10px;
  transition: transform 0.2s;
}

.back-arrow:hover {
  transform: translateX(-2px);
}

/* W wersji mobilnej zmniejszamy odstęp */
@media (max-width: 768px) {
  .back-arrow {
    margin-right: 6px;
  }
}

@media (max-width: 480px) {
  .back-arrow {
    margin-right: 4px;
  }
}


 @media (max-width: 768px) {
   .photo-gallery-container {
     gap: 15px;
     grid-template-columns: 1fr; 
   }
 
   h2 {
     font-size: 1.5rem; 
   }
 
   .photo-card img {
     width: 95%;
     max-width: 1000px; 
   }
 }
 
 @media (max-width: 480px) {
   .photo-gallery {
     padding: 10px;
   }
 
   .photo-card img {
     width: 100%;  
     max-width: 1000px;
   }
 
   h2 {
     font-size: 1.6rem; 
   }
 }
 